body{
    padding-bottom:50px;
    caret-color:transparent;
}

#part1 #confirm_butt{
    background-color:#6042DE;
    color:white;
    
}
#part1 #cancel{
    margin-top:-27px;
    float:right;
    margin-right:20px;
}
h3{
    text-align:center;
}
#innertxt img{
    margin-left:5%;
}
#part3{
    position:absolute;
    height:100%;
    width:100%;
    background:white;
    opacity:0.8;
    z-index:5;
    display:none;
}
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    width:250px;
    height:30px;
    text-align:center;
    outline:none;
}
select.myselect {
    -moz-appearance: none;
    -webkit-appearance: none;
    width:180px;
    height:30px;
    text-align:center;
    outline:none;
}

input{
    
    caret-color:black;
}
select::-ms-expand {
    display: none;
}
      
#box2:hover{
    cursor:pointer;
}
#filedir{
    position:absolute;
    margin-top:50px;
    width:260px;
    overflow:hidden;
}
#filedir p{
    font-size:12px;
    color:rgb(105,105,105);
    padding-right:5px;
}
#spec2{
    border:1px solid grey;
    height:350px;
    width:250px;
    position:absolute;
    display:none;
    background:url('images/download__1_word-removebg-preview.png') no-repeat, white;
}
#message{
    height:200px;
    background:white;
    position:fixed;
    margin-left:20%;
    bottom:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation:message 5s alternate;
    z-index:5;
    overflow:hidden;
}
#spec{
    border:1px solid grey;
    height:350px;
    width:250px;
    position:absolute;
    display:none;
}
@keyframes message{
    0%{
        width:0px;
    }
    10%{
        width:60%;
    }
    90%{
        width:60%;
    }
    100%{
        width:0px;
        display:none;
    }
}
#confirm{
    position:absolute;
    height:200px;
    width:50%;
    margin-left:14%;
    margin-top:40px;
    display:none;
    border:2px solid grey;
    background:white;
    z-index:6;
    padding:10%;
}
#message img{
    width:100px;
    border-radius:50%;
}
#message p{
    display:block;
    padding-left:10px;
}
#menu{
    float:right;
    font-size:20px;
    margin-right:10%;
    font-weight:100;
}
#menu:hover{
    cursor:pointer;
}
/* cheeee */
#menu_cont{
    font-size:14px;
    height:0px;
    margin-left:0px;
    position:absolute;
    margin-top:10px;
    transition: 5s ease-in;
    border-bottom:2px solid grey;
    display:none;
   
}
#menu_cont ul{
    list-style:none;
}
#menu_cont ul>li>a{
    text-decoration:none;
    color:black;
    text-align:center;
    line-height:30px;
}
 #body{
            min-height:70%;
            height:fit-content;
            width:100%;
            margin:auto;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            text-align:center;
            padding-top:3%;
            padding-bottom:3%;
             overflow-x: hidden;
             /* background-color: yellow; */
        }
            h5{
                text-align:center;
            }
            #uploadtxt{
                position:absolute;
                margin-left:90px;
                z-index:4;
            }
            #uploadtxt:hover{
                cursor:pointer;
                
            }
            .box{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                height:450px;
                width:250px;
                float:left;
                margin-left:17%;
                border-radius: 2px;
                font-size: 25px;
                border-top: solid;
            }


            .box input{
               border: 1px solid grey; 
               border-radius: 5px;
               height: 27px;
               position: relative;
               bottom: 5px;               
            }
           .box label{
            position: relative;
               bottom: 10px;
               color: #000000;
           }
           @media only screen and (max-width: 600px) {
           .box {
        
              margin: 5px;
            }
          }

            #big_box{
                margin-left:11%;
                margin-top:55px;
                clear:both;
                overflow:hidden;
                /* background-color: red; */
              
            }
            button{
                padding-top:5px;
                padding-left:15px;
                padding-bottom:5px;
                padding-right:15px;
                display:block;
                margin-left:65%;
                margin-top:5%;
                background-color:white;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border:1px solid grey;
            }
            button:hover{
                cursor:pointer;
            }
            .material-icons{
                font-size:40px;
            }
            
            form button{
                padding:7px;
                border-radius:50%;
            }
            #sendbutt {
                padding-top:5px;
                padding-left:15px;
                padding-bottom:5px;
                padding-right:15px;
                border-radius:0;
            }
            #deadline{
                margin-left:43%;
            }
            #deadline p{
                width:100%;
                margin-left:8%;
                text-align:left;
                line-height:0;
            }
           #deadline h3{
                float:left;
                margin-left:10px;
                line-height:0;
            }
            input{
            }
            #file_box{
                margin-top:100%;
            }
            
            #next, #previous{
                display:none;
            }
            #next{
                margin-left:65%;
            }
            footer{
                margin-top:20px;
            }
            footer p{
                font-size:12px;
                text-align:center;
                color:rgb(230, 140, 140);
                width:85%;
            }
            @media(max-width:800px){
                body{
                }
                #body {
                    margin-top:70px;
                    width:90%;
                }
                .box {
                    height:300px;
                    width:200px;
                }
                #deadline{
                    overflow:hidden;
                    font-size:10px;
                    margin-left:25%;
                }
                #big_box{
                    width:90%;
                    margin-left:5%;
                }
                .box{
                    margin-left:2%;
                    padding-left:5%;
                    padding-right:5%;
                    width:85%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
                }
                #previous{
                    margin-left:14%;
                    margin-top:-10%;
                }
                #sendbutt,#next{
                    margin-left:60%;
                }
                #message{
                    margin-left:2%;
                    padding-left:5%;
                    padding-right:5%;
                    animation:message_2 5s alternate;
                    
                } 
                button{
                 margin-top:140px;   
                }
                #confirm{
                    height:fit-content;
                }
                #part1 #confirm_butt{
                    background-color:#6042DE;
                    color:white;
                    margin-left:20%;
                    
                }
                #message img{
                width:100px;
                }
                #message p{
                padding-left:10px;
                text-align:center;
                
                }
                @keyframes message_2{
    0%{
        width:0px;
    }
    10%{
        width:83%;
    }
    90%{
        width:83%;
    }
    100%{
        width:0;
        display:none;
    }
}
                
            
            
 @media(max-width:450px){
     
                #part1 #confirm_butt{
                    margin-left:10%;
                    
                }
 }
 @media(max-width:400px){
     
                #part1 #confirm_butt{
                    margin-left:2%;
                    
                }
#part1 #cancel{
    margin-right:2%;
}
 }
 @media(max-width:324px){
     
                #part1 #confirm_butt{
                    margin-left:-5%;
                    
                }
#part1 #cancel{
    margin-right:-5%;
}
 }
 
 @media(max-width:284px){
     
                #part1 #confirm_butt{
                    margin-left:-8%;
                    
                }
#part1 #cancel{
    margin-right:-8%;
}
 }
 @media(max-width:268px){
     
                #part1 #confirm_butt{
                    margin-left:-12%;
                    
                }
#part1 #cancel{
    margin-right:-12%;
}
 }}